<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key ="sqlConnection" value="Data Source=DESKTOP-BM0U12B\SQLEXPRESS;Initial Catalog=TresCamadas;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <add key ="CaminhoArquivos" value="D:\arquivos\"/>
  </appSettings>
</configuration>